[Unit]
Description=Sensor Information Logging

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/sensord
PIDFile=/var/run/sensord.pid
ExecStart=/usr/sbin/sensord -i $INTERVAL -l $LOG_INTERVAL -f daemon

[Install]
WantedBy=multi-user.target
